#projects {
    min-height: 100%;
    background: linear-gradient(45deg, rgba(255, 165, 0, 0.1), rgba(255, 165, 0, 0.05)); /* Orange theme */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}