/* You can add global styles to this file, and also import other style files */
/* styles.css */
html, body {
    height: 100%;
    margin: 0;
}

#main-container {
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: orange;
}

/* Target only component elements, not router-outlet */
#content > app-home,
#content > app-about,
#content > app-resume,
#content > app-projects,
#content > app-skills {
    min-height: 100vh;
    scroll-margin-top: 4vh;
}